* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: system-ui;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: none;
}

main video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

span {
  position: fixed;
  width: clamp(24px, 4vw, 40px);
  height: clamp(24px, 4vw, 40px);

  background: url("cursor.png") no-repeat center / contain;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;

  filter: drop-shadow(0 6px 12px rgba(7, 206, 232, 0.452));
}
