*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Arial, sans-serif;
  width: 100%;
  height: 100vh;
  cursor: none;
}
main {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}
span {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

;
}
